---
head:
  title: "Страница не найдена"

header:
  title: "(っ◔◡◔)っ 404"
  subtitle: "Увы, но страница, которую Вы запросили не была найдена."
  iconSrc: null

navbar:
  title: "Ошибки случаются, понимаешь?"
  actionThemer: false
  actionSearch: false
---

{% import '@macro/main.njk' as macro %}

<!DOCTYPE html>
<html class="theme-light">
	<head>
		{% include 'head.njk' %}
	</head>
	<body>

		{% include 'navbar.njk' %}
		{% include 'header.njk' %}

		<main>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Ошибки случаются, понимаешь?</h2>
						<div class="row">
							<div class="col-12 col-md-8">
								{{ macro.image("/assets/images/404.webp", "Линус Торвальдс", "img--rounded")}}
								<p>Есть несколько вариантов причин происходящего, но для начала прочтем выдержку из Википедии об этой ошибке:</p>
								<blockquote>
									<p><b>Ошибка 404</b> или <b>Not Found</b> — стандартный код ответа HTTP о том, что клиент был в состоянии общаться с сервером, но сервер не может найти данные согласно запросу. Ошибку 404 не следует путать с ошибкой «Сервер не найден» или иными ошибками, указывающими на ограничение доступа к серверу. Ошибка 404 означает, что запрашиваемый ресурс может быть доступен в будущем, что однако не гарантирует наличие прежнего содержания.</p>
									<p>Пользователи наиболее часто сталкиваются с ошибкой 404 при посещении так называемых «битых» или «мёртвых ссылок», что делает, таким образом, ошибку 404 одной из наиболее узнаваемых ошибок в сети Интернет.</p>
									<footer>— Википедия, <cite><a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%88%D0%B8%D0%B1%D0%BA%D0%B0_404">Ошибка 404</a></cite></footer>
								</blockquote>
								<p>Касательно причин, то их может быть несколько: неверная ссылка (точнее путь ссылки), удаление страницы или её перемещение и много-много других банальных по сути причин. Всё это может происходить из-за реструктуризации, реорганизации, ребейса и всего того, что начинается на "ре-".</p>
								<p><b>Если Вы попали на эту страницу перейдя по ссылке с ресурса TutLinux, то будьте добры сообщить <a href="https://t.me/xuniltut">нам</a> об этом, чтобы мы оперативно исправили эту проблему.</b></p>
							</div>
							<div class="col-12 col-md-4">
								<div class="card">
									<h5 class="card__title mi"><span class="material-icons">info</span>Обзор ошибки</h5>
									<p class="card__subtitle">При связи по HTTP клиент требует ответа на свой запрос к серверу. Например, веб-браузер запрашивает HTML-документ (веб-страницу) и ожидает цифровой код ответа и, не всегда обязательно, сообщение. В коде 404, первая цифра «4» указывает ошибку клиента, к примеру, опечатку в URL. Следующие две цифры определяют конкретную ошибку. HTTP использует трёхзначные коды, напоминающие коды для ранних версий протоколов FTP и NNTP.</p>
									<p class="card__subtitle">Следом за кодом ответа 404 для человеческого понимания идёт объяснение причины. Спецификация HTTP предлагает фразу «Not Found» (не найдено) и большинство веб-серверов по умолчанию выводят страницы HTML, который включает в себя как код 404, так и фразу «Not Found».</p>
									<p class="card__subtitle">Ошибка 404 часто возвращается, когда страница была перемещена или удалена, или не совпадает имя файла в коде и на сервере. В первом случае, лучше возвращать клиенту код 301 Moved Permanently, что можно настроить в конфигурации большинства серверов, либо производить перенаправление на другой URL. Во втором случае, лучше возвращать код 410 Gone. Однако, так как эти два варианта требуют специальной настройки сервера, большинство веб-сайтов не используют их.</p>
									<p class="card__subtitle">Ошибку 404 не следует путать с ошибкой DNS, которая появляется, когда данный URL ссылается на имя несуществующего сервера. Ошибка 404 означает, что сам сервер был найден, но не смог найти запрашиваемую страницу.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
		</main>

		{% include 'footer.njk'%}
		{% include 'scripts.njk' %}

	</body>
</html>
