<!DOCTYPE html>
<html>
	<head>
		{% include 'head.njk' %}
	</head>
	<body>

		{% include 'topbar.njk' %}
		{% include 'header.njk' %}

		<main>
			<div class="container ">
				<div class="row">
					<div class="col-12">
						<h2>Утилиты</h2>
						<p>Основная информация о самых востребованных консольных (CLI) и графических (GUI) утилитах среди Linux-пользователей.</p>
					</div>

					<div class="col-12">
						<h2>Distrowiki</h2>
						<p>Раздел посвященный самым востребованным операционным системам (дистрибутивам) на базе ядра Linux среди пользователей (home) и компаний (enterprise).</p>
						<div class="horizontal-box">
							<div class="card card--clickable horizontal-box__item">
								<figure>
									<img
										class="card__icon"
										loading="lazy"
										src="https://upload.wikimedia.org/wikipedia/commons/4/41/Fedora_icon_%282021%29.svg">
								</figure>
								<h4 class="card__title">Fedora Linux</h4>
								<p class="card__subtitle card__subtitle--shorten">Дистрибутив Linux, разрабатываемый Проектом Fedora, спонсируемый компаниями Red Hat и IBM и содержащий возможности, которые в будущем предполагаются к использованию в дистрибутиве Red Hat Enterprise Linux.</p>
							</div>
							<div class="card card--clickable horizontal-box__item">
								<figure>
									<img
										class="card__icon"
										loading="lazy"
										src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo-ubuntu_cof-orange-hex.svg">
								</figure>
								<h4 class="card__title">Ubuntu</h4>
								<p class="card__subtitle card__subtitle--shorten">Дистрибутив GNU/Linux, основанный на Debian GNU/Linux. Основным разработчиком и спонсором является компания Canonical. В настоящее время проект активно развивается и поддерживается свободным сообществом.</p>
							</div>
							<div class="card card--clickable horizontal-box__item">
								<figure>
									<img
										class="card__icon"
										loading="lazy"
										src="https://upload.wikimedia.org/wikipedia/commons/6/66/Openlogo-debianV2.svg">
								</figure>
								<h4 class="card__title">Debian</h4>
								<p class="card__subtitle card__subtitle--shorten">Один из самых популярных и важных дистрибутивов GNU/Linux, в первичной форме оказавший значительное влияние на развитие этого типа ОС в целом.</p>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</main>

		{% include 'footer.njk'%}
		{% include 'styles.njk' %}
		{% include 'scripts.njk' %}

	</body>
</html>
