<!DOCTYPE html>
<html>
	<head>
		{% include 'head.njk' %}
	</head>
	<body>

		{% include 'topbar.njk' %}
		{% include 'header.njk' %}

		<main>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Разделы</h2>
						<p>Все статьи и доки на ресурсе отсортированы по разделам для наиболее удобного распределения контента.</p>
						<div class="row">
							<div class="col-12 col-md-4">
								<br>
								<div class="card">
									<h5 class="card__title mi"><span translate="no" class="material-icons">terminal</span> Терминал</h5>
									<p class="card__subtitle">Справочник по основным принципам работы с терминалом (командной строкой) в системах на базе ядра Linux.</p>
									<ul class="card__list">
										<li><a href="" class="mi">su &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">usermod &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">chmod &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">sudo &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">Весь список &nbsp;<span translate="no" class="material-icons">more</span></a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<br>
								<div class="card">
									<h5 class="card__title mi"><span translate="no" class="material-icons">widgets</span> Утилиты</h5>
									<p class="card__subtitle">Основная информация о самых востребованных консольных (CLI) и графических (GUI) утилитах среди Linux-пользователей.</p>
									<ul class="card__list">
										<li><a href="" class="mi">yast &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">dnf &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">apt &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">Весь список &nbsp;<span translate="no" class="material-icons">more</span></a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<br>
								<div class="card">
									<h5 class="card__title mi"><span translate="no" class="material-icons">computer</span> Distrowiki</h5>
									<p class="card__subtitle">Основная информация о самых востребованных дистрибутивах на базе ядра Linux.</p>
									<ul class="card__list">
										<li><a href="" class="mi">Fedora Linux &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">Ubuntu &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">ArchLinux &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">openSUSE &nbsp;<span translate="no" class="material-icons">launch</span></a></li>
										<li><a href="" class="mi">Весь список &nbsp;<span translate="no" class="material-icons">more</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
		</main>

		{% include 'footer.njk'%}
		{% include 'styles.njk' %}
		{% include 'scripts.njk' %}

	</body>
</html>
