<!DOCTYPE html>
<html>
	<head>
		{% include 'head.njk' %}
	</head>
	<body>

		{% include 'topbar.njk' %}
		{% include 'header.njk' %}

		<main>
			<div class="container ">
				<div class="row">
					<div class="col-12">
						<h2>Header</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolores illum alias, vero, illo voluptates error iste nihil ratione eum veniam doloremque dicta deleniti. Dolorem itaque iste ducimus sunt maiores!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolores illum alias, vero, illo voluptates error iste nihil ratione eum veniam doloremque dicta deleniti. Dolorem itaque iste ducimus sunt maiores!</p>
					</div>
				</div>
			</div>
		</main>

		{% include 'footer.njk'%}
		{% include 'styles.njk' %}
		{% include 'scripts.njk' %}

	</body>
</html>
