@use '../kalium19' as k19;
@use '../theme' as *;

@include k19.b(header) {

	@include k19.e(wrapper) {
		background-color: var(--colorHeaderBackground);
	}

	@include k19.e(title) {
		margin-top: .8em;
	}

	@include k19.e(subtitle) {}
	
	@include k19.e(icon) {

		float : right;
		margin: 0 0 1em 1em;

		@include k19.wh(100px);
		@include k19.border-radius(100%);

	}


}
