@use '../../lib.kalium19' as k19;

/// Стили для элемента Box Horizontal
/// @name HorizontalBox
/// @group Box
/// @since 2.0.0
/// @access public
/// @require {lib} kalium19
@include k19.b(horizontal-box) {

	@include k19.flex(); // устанавливаем `display: flex`
	@include k19.flex-wrap(); // устанавливаем `flex-wrap: nowrap`

	overflow-x: auto;

	/// Стили для элемента Box Horizontal Item
	/// @name HorizontalBoxItem
	/// @group Box
	/// @since 2.0.0
	/// @access public
	/// @require {lib} kalium19
	@include k19.e(item) {

		flex: 0 0 auto; // флексы
		margin-right: 10px; // отступ справа
		width: 320px; // ширина элемента

		// для последнего элемента убираем внешний правый отступ
		&:last-child {
			margin-right: 0;
		}

	}

}
