@use '../../lib.kalium19' as k19;

.hr-box {

	overflow-x: auto;
	padding: 1em;
	border: 1px solid #ccc;
	background-color: rgb(209, 209, 209);

	@include k19.flex();
	@include k19.flex-wrap();
	@include k19.border-radius();

	&--item {

		flex: 0 0 auto;
		margin-right: 10px;
		width: 330px;

		&:last-child { margin-right: 0; }

	}

}
