@use '../../lib.kalium19' as k19;
@use '../../vars' as *;
@use '../../utils/extends' as *;

.card {

	@include k19.box-shadow(var(--shadowCard));
	@include k19.border-radius();
	@include k19.position-relative();

	background-color: var(--colorCardBackground);
	padding         : 1em;
	// margin-bottom   : 1em;

	&--clickable {

		@include k19.transition(
			transform $transition-duration,
			color $transition-duration,
			background $transition-duration
		);

		cursor: pointer;

		&:hover,
		&:focus,
		&:focus-visible { background-color: var(--colorCardClickableBackgroundHover); }

		&:active {
			@include k19.transform(scale(1.005));
			color: white;
			background-color: var(--colorCardClickableBackgroundActive);
		}

	}

	&__link { @extend %link-before; }
	&__title { margin-top: 0 !important; }

	&__subtitle {
		&:first-child { margin-top:    0; }
		&:last-child  { margin-bottom: 0; }
		&--shorten    { @include k19.text-shorten(3); }
	}

	&__icon {
		@include k19.wh(80px);
		float : right;
		margin: 0 0 1em 1em;
	}

	&__list {

		list-style: none;
		margin-block-end: 0;
		padding-inline-start: 0;
		margin: -1em;

		li {

			$transitions: (
				color $transition-duration,
				background $transition-duration
			);

			@include k19.position-relative();
			@include k19.transition($transitions);

			padding: .9em 1em;
			font-weight: bold;

			&:hover { background-color: var(--colorCardClickableBackgroundHover); }
			&:not(:last-child) { border-bottom: 1px solid var(--colorDivider); }

			&:active {
				background-color: var(--colorCardClickableBackgroundActive);
				color: white;
			}

			&:first-child { @include k19.border-top-radius(); }
			&:last-child  { @include k19.border-bottom-radius(); }

			a {

				@extend %link-before;

				cursor: pointer;
				text-decoration: none;
				color: inherit;

				.material-icons {
					@include k19.opacity(.8);
					margin-top: -1px;
					font-size: $font-size_h5;
				}

			}

		}

	}

}
