@use 'vars' as *;

@forward '../node_modules/@rx1310/kalium19' with (
	$border-radius: $k19_border-radius,
	$bem          : $k19_bem,
	$breakpoints  : $k19_breakpoints,
	$keyframes    : $k19_keyframes,
	$opacity      : $k19_opacity
);
