/// Конфигурация пакета Kalium19 (@rx1310/kalium19)
/// @name kalium19.config
/// @group Kalium19
/// @author Haba Kudzaev (rx1310)
/// @link https://github.com/rx1310/kalium19 GitHub-репозиторий
/// @require {package} kalium19 пакет `@rx1310/kalium19`
/// @since 4.1.2
/// @see {mixin} b
/// @see {mixin} e
/// @see {mixin} m
/// @see {mixin} border-radius
/// @see {mixin} respond-to
/// @see {mixin} keyframes
/// @see {mixin} opacity
/// @param {int} $border-radius - значение свойства `border-radius` (1)
/// @prop {int | string} $bem.element [__] - префиксы для связки элемента и блока (2)
/// @prop {int | string} $bem.modifier [--] - префиксы для модификатора (3)
/// @prop {string} $breakpoints.xs - брейкпоинт ширины экрана в 0px (сток) (4)
/// @prop {string} $breakpoints.sm - брейкпоинт ширины экрана в 576px (5)
/// @prop {string} $breakpoints.md - брейкпоинт ширины экрана в 768px (6)
/// @prop {string} $breakpoints.lg - брейкпоинт ширины экрана в 992px (7)
/// @prop {string} $breakpoints.xl - брейкпоинт ширины экрана в 1200px (8)
/// @prop {string} $breakpoints.xxl - брейкпоинт ширины экрана в 1400px (9)
/// @prop {boolean} $keyframes.webkit [true] - генерация `keyframes` для браузера на базе движка WebKit (10)
/// @prop {boolean} $keyframes.moz [true] - генерация `keyframes` для браузера на базе движка Mozilla Firefox (11)
/// @prop {boolean} $keyframes.ms [true] - генерация `keyframes` для браузера на базе движка от Microsoft (12)
/// @prop {boolean} $keyframes.o [true] - генерация `keyframes` для браузера Opera (13)
/// @prop {boolean} $opacity.ie5 [true] - генерация CSS-правила `opacity` (или его имитация) для браузера Microsoft Internet Explorer 5+ (14)
/// @prop {boolean} $opacity.ie8 [true] - генерация CSS-правила `opacity` (или его имитация) для браузера Microsoft Internet Explorer 8+ (15)
@forward '../node_modules/@rx1310/kalium19' with (

	$border-radius: 8px, // 1

	$bem: (
		element: "__", // 2
		modifier: "--" // 3
	),

	$breakpoints: (
		xs: (min-width: 0), // 4
		sm: (min-width: 576px), // 5
		md: (min-width: 768px), // 6
		lg: (min-width: 992px), // 7
		xl: (min-width: 1200px), // 8
		xxl: (min-width: 1400px) // 9
	),

	$keyframes: (
		webkit: true, // 10
		moz: true, // 11
		ms: true, // 12
		o: true // 13
	),

	$opacity: (
		ie5: true, // 14
		ie8: true // 15
	)

);
