@use 'lib.kalium19' as k19;

$default: (

	colorAccent: k19.$blue--500,
	colorFont: k19.$grey--900,
	colorBackground: k19.$grey--50,
	colorDivider: k19.$grey--200,

	colornavbarBackground: k19.$grey--A100,
	colornavbarAction: k19.$grey--900,
	colornavbarActionHover: k19.$grey--400,
	colornavbarActionActive: k19.$grey--900,
	colornavbarActionIconActive: k19.$grey--A100,
	shadownavbar: rgba(0, 0, 0, 0.16) 0px 1px 4px,

	colorMainBackground: k19.$grey--100,

	colorFooterFont: inherit,
	colorFooterBackground: var(--colorBackground),

	colorCardBackground: k19.$grey--50,
	colorCardClickableBackgroundHover: k19.$grey--200,
	colorCardClickableBackgroundActive: k19.$grey--900,
	shadowCard: (
		rgba(0, 0, 0, 0.12) 0px 1px 3px,
		rgba(0, 0, 0, 0.24) 0px 1px 2px
	),

);

@include k19.props($default);
