@use 'lib.kalium19' as k19;

$default: (

	colorAccent: k19.$blue--500,
	colorFont: k19.$grey--900,
	colorBackground: k19.$grey--50,
	colorDivider: k19.$grey--200,

	colorTopBarBackground: k19.$grey--A100,
	colorTopBarAction: k19.$grey--900,
	colorTopBarActionHover: k19.$grey--400,
	colorTopBarActionActive: k19.$grey--900,
	colorTopBarActionIconActive: k19.$grey--A100,
	shadowTopBar: rgba(0, 0, 0, 0.16) 0px 1px 4px,

	colorMainBackground: k19.$grey--100,

	colorFooterFont: k19.$grey--50,
	colorFooterBackground: k19.$grey--900,

);

@include k19.props($default);
