@use 'lib.kalium19' as k19;

/// Массив данных о цветовой палитре
/// @type Map
/// @access public
/// @see {mixin} themer
$theme: (
	
	colorBackground: #000,
	colorFont: k19.$grey--A100,
	colorAccent: k19.$light-green--700, // TODO: подобрать более подходящий цвет акцента
	colorDivider: k19.$grey--900,

	colorNavAction: k19.$grey--50,
	colorNavActionHover: k19.$grey--900,
	colorNavActionActive: k19.$grey--800,
	colorNavActionIconActive: k19.$grey--50,

);

$z-indexes: (
	nav: 1
);

/// Продолжительность перехода `transition`
/// @type Int
/// @access public
$transition-duration: .3s;

/// Стандартный размер шрифта
/// @type String | Int
/// @access public
$font-size: 1rem;

/// Большой размер шрифта
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_lg: $font-size * 1.25;

/// Маленький размер шрифта
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_sm: $font-size * .875;

/// Размер шрифта для заголовока `h1`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h1: $font-size * 2.5;

/// Размер шрифта для заголовока `h2`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h2: $font-size * 2;

/// Размер шрифта для заголовока `h3`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h3: $font-size * 1.75;

/// Размер шрифта для заголовока `h4`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h4: $font-size * 1.5;

/// Размер шрифта для заголовока `h5`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h5: $font-size * 1.25;

/// Размер шрифта для заголовока `h6`
/// @type String | Int
/// @access public
/// @require {variable} $font-size
$font-size_h6: $font-size;
