@use '../../lib.kalium19' as k19;
@use '../../vars' as *;

.footer {

	&-wrapper {
		border-top: 2px solid var(--colorDivider);
		background-color: var(--colorFooterBackground);
		color: var(--colorFooterFont);
	}

	&__link {

		color: inherit;
		text-decoration: none;

		&:not(:last-child) { margin-right: .5em; }

		&__icon {

			@include k19.wh(35px);
			@include k19.transition(transform $transition-duration);

			&:hover,
			&:focus,
			&:focus-visible { @include k19.transform(scale(1.150)); }
			&:active        { @include k19.transform(scale(1)); }

		}

	}

}
