@use '../../lib.kalium19' as k19;

/// Стили для элемента Footer Wrapper
/// @name FooterWrapper
/// @group Footer
/// @since 2.0.0
/// @access public
/// @require {lib} kalium19
@include k19.b(footer-wrapper) {
	border-top: 2px solid var(--colorDivider);
	background-color: var(--colorFooterBackground); // указываю цвет фона для футера
	color: var(--colorFooterFont); // указываю цвет шрифта для футера
}
