{% macro link(title, url, iconName, iconColor) %}
	<a
		{% if iconColor != null %} style="--iconColor: {{ iconColor }}" {% endif %}
		class="footer__link"
		title="Нажмите, чтобы перейти в {{ title }} →"
		aria-label="Перейти в {{ title }}"
		href="{{ url }}">
		<svg class="footer__link__icon">
			<use xlink:href="/assets/images/icons.svg#{{ iconName }}"></use>
		</svg>
	</a>
{% endmacro %}

<footer class="footer-container">
	<div class="container"><div class="row"><div class="col-12">
		<div class="footer">

			<img src="https://avatars.githubusercontent.com/u/108356980?s=200&v=4" alt="Логотип проекта" class="footer__icon">

			<div>

				<h5 class="footer__title">TutLinux</h5>
				<p class="footer__subtitle">Открытый веб-проект (интернет-ресурс), предоставляющий основную информацию о работе с программным обеспечением в среде систем основанных на ядре Linux.</p>

				{% for id, data in footer.social %}
					{{ link(data.title, data.url, id, data.iconColor) }}
				{% endfor %}

				<p class="footer__subtitle">Проект разрабатывается при поддержке энтузиазма и совершенно открыто и свободно распространяется по лицензии <a href="https://github.com/xuniltut/core/blob/main/LICENSE">MIT</a> в сети Интернет.<br>Сделано Асхабом Кудзаевым с 🫀 к комьюнити.</p>
				<p disabled>&copy; 2022, Haba Kudzaev (rx1310)</p>

			</div>

		</div>
	</div></div></div>
</footer>
