<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>

{# добавление шрифтов #}
{# <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet"> #}
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
{# <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet"> #}
{# <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet"> #}
{# <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&amp;display=swap" rel="stylesheet"/> #}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

{# добавление силей #}
<link rel="stylesheet" href="/styles/vendor/sanitize.css"> {# * добавляет sanitize.css #}
<link rel="stylesheet" href="/styles/vendor/grid.css">     {# * добавляет CSS-файл Bootstrap Grid #}
<link rel="stylesheet" href="/styles/gabrik.css">          {# * добавляет основной CSS-файл со стилями #}
