@use '../kalium19' as k19;

body {

	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: var(--colorBackground);
	color: var(--colorFont);

	// https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include k19.scroll-behavior(smooth);
	@include k19.prefixer-pack(
		(
			text-size-adjust: 100%, // https://clck.ru/NNamf
			user-select: none // https://developer.mozilla.org/ru/docs/Web/CSS/user-select
		),
		webkit moz ms
	);

}
