@use '../lib.kalium19' as k19;

body {

	background-color: var(--colorBackground);
	color: var(--colorFont);
	font-family: 'Open Sans', system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	@include k19.scroll-behavior(smooth);
	@include k19.unselect;
	@include k19.prefixer(text-size-adjust, 100%, webkit moz ms);

}
