@use '../lib.kalium19' as k19;
@use '../vars' as vars;

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

h1 { font-size: vars.$font-size_h1; }
h2 { font-size: vars.$font-size_h2; }
h3 { font-size: vars.$font-size_h3; }
h4 { font-size: vars.$font-size_h4; }
h5 { font-size: vars.$font-size_h5; }
h6 { font-size: vars.$font-size_h6; }
