@use '../lib.kalium19' as k19;

@forward 'body';
@forward 'h';
@forward 'img' hide $maxSize;
@forward 'typography';
@forward 'main';
// @forward 'radio';

*,
*::before,
*::after {
	-webkit-touch-callout: none; // https://clck.ru/9HHvq
}

[data-hidden], [hidden] { @include k19.visually-hidden(); }
[data-disabled], [disabled]:not([disabled="false"]) {
	pointer-events: none; // https://developer.mozilla.org/ru/docs/Web/CSS/pointer-events
	cursor: not-allowed;  // https://developer.mozilla.org/ru/docs/Web/CSS/cursor
	@include k19.opacity(0.50);
}

hr {
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid var(--colorDivider);
}

a {
	color: var(--colorAccent);
	&:hover { text-decoration: none; }
}

.mi {
	@include k19.flex();
	@include k19.align-items(center);
	.material-icons { margin-right: 8px; }
}
