@use '../vars' as *;

h1, h2, h3, h4, h5, h6 {
	// font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

h1 { font-size: $font-size_h1; }
h2 { font-size: $font-size_h2; }
h3 { font-size: $font-size_h3; }
h4 { font-size: $font-size_h4; }
h5 { font-size: $font-size_h5; }
h6 { font-size: $font-size_h6; }
