{% macro image(src, alt, class, size, loading=lazy) %}
	<img
		{% if class != null %}
			class="{{ class }}"
		{% endif %}
		{% if size != null %}
			width="{{ size }}"
			height="{{ size }}"
		{% endif %}
		{% if loading != null %}
			loading="{{ loading }}"
		{% endif %}
		src="{{ src }}"
		alt="{{ alt }}"
		title="{{ alt }}">
{% endmacro %}
