{% macro action(id, title, aria_label, icon, onclick, isActionDisabled) %}
	<button
		id="{{ id }}"
		class="navbar__action {{ "navbar__action--disabled" if isActionDisabled }} material-icons"
		title="{{ title }}"
		aria-label="{{ aria_label }}"
		onclick="{{ onclick }}">
		{{ icon }}
	</button>
{% endmacro %}
