@use '../../lib.kalium19' as k19;
@use '../../utils/extends' as *;

$transition: (
	color .3s,
	background .3s,
	transform .3s
);

.button {

	@include k19.border-radius();
	@include k19.transition($transition);
	@include k19.position-relative();

	text: {
		overflow : ellipsis;
		transform: uppercase;
		align    : center;
	}

	font: {
		weight: bold;
		size  : 80%;
	}

	color         : inherit;
	background    : var(--colorButtonBackground);
	margin        : 0;
	padding       : .5em .8em;
	letter-spacing: .1em;
	cursor        : pointer;
	border        : none;

	&:hover,
	&:focus { background-color: var(--colorButtonBackgroundHover); }

	&:active {
		@include k19.transform(scale(.970));
		color: white;
		background-color: var(--colorButtonBackgroundActive);
	}

	a {
		@extend %link-before;
		text-decoration: none;
		color: inherit;
	}

	.material-icons { margin-right: -6px; }

}
