@use '../../lib.kalium19' as k19;
@use '../../vars' as *;
@use 'wrapper' as *;

/// Стили для элемента NavBar
/// @name navbar
/// @since 2.0.0
/// @access public
/// @require {lib} kalium19
@include k19.b(navbar) {

	padding: .5em 0; // устанавливаю отступ сверху и снизу на 0.5em и обнуляю по бокам

	@include k19.flex(); // устанавливаю `display: flex`
	@include k19.justify-content(space-between); // флексы равномерно распределяются по всей строке (первый и последний элемент прижимаются к соответствующим краям контейнера)
	@include k19.align-items(center); // флексы выравниваются по линии поперечной оси.

	/// Стили для элемента NavBar Title
	/// @name Title
	/// @group navbar
	/// @since 2.0.0
	/// @access public
	@include k19.e(title) {

		margin        : 0; // обнуляю внешние отступы
		font-size     : $font-size_h6; // устанавливаю размер шрифта
		color         : inherit; // цвет текста по умолчанию (от род. элемента)
		text-transform: lowercase; // текст начинается со строчной буквы

		&.hidden { color: transparent; } // скрываю текст, делая цвет шрифта прозрачным

		@include k19.transition(color $transition-duration); // указываю время перехода (`transition`) для свойства `color`

	}

	/// Стили для элемента NavBar Action
	/// @name Action
	/// @group navbar
	/// @since 2.0.0
	/// @access public
	@include k19.e(action) {

		color          : var(--colorNavBarAction); // восстанавливаю цвет кнопки
		vertical-align : middle; // выравниваю вертикальную среднюю точку блока по базовой линии родительского блока плюс половина высоты буквы «x»
		position       : relative; // устанавливаю относительное позиционирование
		overflow       : hidden; // отображаю только область внутри элемента, остальное будет скрыто
		text-decoration: none; // убираю подчеркивание текста (для ссылок)
		border         : none; // обнуляю границы
		cursor         : pointer; // устанавливаю курсор
		background     : transparent; // делаю фон элемента прозрачным

		@include k19.flex();
		@include k19.justify-content(center);
		@include k19.align-items(center);
		@include k19.border-radius(100px); // добавляю закругления элементу
		@include k19.wh(38px); // ширина и высота элемента
		@include k19.transition(
			color $transition-duration, // время перехода для свойства `color`
			background-color $transition-duration, // время перехода для свойства `background-color`
		);

		&:hover,
		&:focus {
			background: var(--colorNavBarActionHover) // указываю цвет фона элемента при фокусе и наведении
		}

		&::before:hover {

			display: block;
			content: '';

			@include k19.wh(38px);
			@include k19.position-absolute(0); // абсолютное позиционирование псевдоэлемента

		}

		&:active {
			color: var(--colorNavBarActionIconActive); // цвет текста элемента при нажатии
			background-color: var(--colorNavBarActionActive); // цвет фона элемента при нажатии
		}

		&:first-child { margin-left : -9px; } // вытягиваю первый элемент влево
		&:last-child  { margin-right: -5px; } // вытягиваю последний элемент вправо

		/// Стили для модификатора элемента NavBar Action (Disabled)
		/// @name ActionDisabled
		/// @group navbar
		/// @since 2.0.0
		/// @access public
		@include k19.m(disabled) {

			pointer-events: none; // предотвращаю события мыши и щелчки по элементу
			cursor: not-allowed; // устанавливаю курсор

			@include k19.opacity(0.20); // добавляю прозрачности элементу

		}

	}

}
