@use '../../lib.kalium19' as k19;
@use '../../vars' as *;

.header {

	&-wrapper { border-bottom: 2px solid var(--colorDivider); }

	// &__title {}

	&__subtitle {
		@include k19.opacity(.8);
		margin-top: 0;
	}

	&__icon {
		@include k19.wh(100px);
		@include k19.border-radius();
		float: right;
		margin: 0 0 1.1em 1.3em;
	}

}
