@use '../../lib.kalium19' as k19;

/// Стили для элемента Header Wrapper
/// @name HeaderWrapper
/// @group Header
/// @since 2.0.0
/// @access public
/// @require {lib} kalium19
@include k19.b(header-wrapper) {
	border-bottom: 2px solid var(--colorDivider); // устанавливаю бордер снизу
}
