@use '../../lib.kalium19' as k19;
@use '../../utils/mixins' as *;
@use '../../vars' as *;

/// @name topbar-wrapper
/// @access public
/// @since 2.0.0
/// @author Haba Kudzaev (rx1310)
/// @link https://github.com/rx1310 GitHub
/// @require {mixin} b из пакета `@rx1310/kalium19`
/// @require {mixin} m из пакета `@rx1310/kalium19`
/// @require {mixin} opacity из пакета `@rx1310/kalium19`
/// @require {mixin} transition из пакета `@rx1310/kalium19`
/// @require {mixin} position-sticky
@include k19.b(topbar-wrapper) {

	z-index: k19.map-deep-get($z-indexes, topbar);
	background-color: var(--colorBackground);

	@include position-sticky();
	@include k19.opacity(.8);

	@include k19.transition(
		box-shadow $transition-duration,
		opacity $transition-duration,
		background-color $transition-duration,
	);

	/// @name scrolled
	/// @access public
	/// @since 2.0.0
	/// @author Haba Kudzaev (rx1310)
	/// @link https://github.com/rx1310 GitHub
	/// @require {mixin} m из пакета `@rx1310/kalium19`
	/// @require {mixin} opacity из пакета `@rx1310/kalium19`
	@include k19.m(scrolled) {

		background-color: var(--colorTopBarBackground);
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

		@include k19.opacity(1);

	}

}
