@use '../../lib.kalium19' as k19;
@use '../../utils/mixins' as *;
@use '../../vars' as *;

/// Стили для элемента TopBar Wrapper
/// @name TopBarWrapper
/// @group TopBar
/// @since 2.0.0
/// @access public
/// @require {lib} kalium19
@include k19.b(topbar-wrapper) {

	z-index: k19.map-deep-get($z-indexes, topbar); // устанавливаю `z-index`
	background-color: var(--colorBackground); // цвет фона элемента

	@include position-sticky(); // добавляю липкое позиционирование
	@include k19.opacity(.8); // добавляю прозрачности элементу

	@include k19.transition(
		box-shadow $transition-duration, // время перехода для свойства `box-shadow`
		opacity $transition-duration, // время перехода для свойства `opacity`
		background-color $transition-duration, // время перехода для свойства `background-color`
	);

	/// Стили для модификатора элемента TopBar Wrapper (Scrolled)
	/// @name TopBarWrapperScrolled
	/// @group TopBar
	/// @since 2.0.0
	/// @access public
	/// @require {lib} kalium19
	@include k19.m(scrolled) {

		background-color: var(--colorTopBarBackground); // цвет фона элемента при скролле
		box-shadow: var(--shadowTopBar); // добавляю тень элементу

		@include k19.opacity(1); // убираю прозрачность

	}

}
